<div class="modal-header">
  <h3 class="modal-title">Kunden bearbeiten: {{ client.name }} {{ client.lastname }}</h3>
</div>
<div class="modal-body">
  <form role="form">

    <div class="form-group form-group-default ">
      <label>Project</label>
      <input type="email" class="form-control" required>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group form-group-default">
          <label>First name</label>
          <input type="text" class="form-control" required>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group form-group-default">
          <label>Last name</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="form-group form-group-default">
      <label>Password</label>
      <input type="password" class="form-control" required>
    </div>

    <div class="form-group form-group-default">
      <label>Placeholder</label>
      <input type="email" class="form-control" placeholder="ex: some@example.com" required>
    </div>

    <div class="form-group form-group-default disabled">
      <label>Disabled</label>
      <input type="email" class="form-control" value="You can put anything here" disabled>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
