<div class="modal-header clearfix text-left">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">
    <i class="pg-close fs-14"></i>
  </button>
  <h5>{{ origProject.name }} <span class="semi-bold">bearbeiten</span></h5>
  <p>Hier können sie ein neues Projekt anlegen.</p>
</div>
<form class="form-default" role="form" ng-submit="save()">
  <div class="modal-body">
    <div class="form-group-attached">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group form-group-default required">
            <label>Projektname</label>
            <input ng-model="project.name" type="text" class="form-control" required>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group form-group-default form-group-default-select2 required">
            <label>Kunde</label>
            <select class="full-width" ng-model="project.clientId" select2-promise ng-options="client.id as client.fullName for client in clients">
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group form-group-default form-group-default-select2">
            <label>Mitarbeiter</label><!-- TODO: REMOVE CLIENT AND ADD EMPLOYEE -->
            <select class="full-width" ng-model="project.employeesId" multiple="multiple" select2-promise ng-options="employee.id as employee.fullName for employee in employees">
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer no-padding m-t-10">
      <input type="reset" class="btn" value="Abbrechen" ng-click="close()">
      <input type="submit" class="btn btn-primary btn-lg" value="Speichern">
    </div>
  </div>
</form>
