
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>Pages</p>
        </li>
        <li><a href="#" class="active">Alle Kunden</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- BEGIN PlACE PAGE CONTENT HERE -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="sorting" style="width: 30%;">Name</th>
        <th class="sorting" style="width: 70%;">Adresse</th>
      </tr>
      <tr>
        <th colspan="10">
          <input ng-model="client.search" placeholder="Suchen..." class="input-sm form-control" type="search" autofocus />
        </th>
      </tr>
    </thead>
    <tbody>
    <a >
      <tr ng-repeat="client in clients | filter: client.search | orderBy: 'name'">
        <td>{{ client.name }} {{ client.lastName }}</td>
        <td>{{ client.address }}</td>
      </tr>
    </a>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
  <!-- END PLACE PAGE CONTENT HERE -->
</div>
<!-- END CONTAINER FLUID -->
