<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p>Pages</p>
        </li>
        <li><a href="#" class="active">Alle Kunden</a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->

<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg">
  <!-- BEGIN PlACE PAGE CONTENT HERE -->
  <div class="panel panel-default">
    <div class="panel-heading ">
      <div class="panel-title">Alle Kunden
      </div>
      <div class="panel-controls">
        <ul>
          <li>
            <div class="dropdown">
              <a id="portlet-settings" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                <i class="portlet-icon portlet-icon-settings "></i>
              </a>

              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="portlet-settings">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#" class="portlet-collapse" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
          </li>
          <li><a href="#" class="portlet-refresh" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
          </li>
          <li><a href="#" class="portlet-maximize" data-toggle="maximize"><i class="portlet-icon portlet-icon-maximize"></i></a>
          </li>
          <li><a href="#" class="portlet-close" data-toggle="close"><i class="portlet-icon portlet-icon-close"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-body">
      <table ng-controller="ClientModalCtrl as ClientModals" class="table table-hover">
        <thead>
        <tr>
          <th style="width: 30%;">Name</th>
          <th style="width: 45%;">Adresse</th>
          <th style="width: 25%;">Telefonnummern</th>
        </tr>
        <tr>
          <th>
            <button ng-click="ClientModals.new()" class="btn btn-primary">Neuer Kunde</button>
          </th>
          <th colspan="10">
            <input ng-model="ClientsCtrl.search" placeholder="Suchen..." class="input-sm form-control" type="search" />
          </th>
        </tr>
        </thead>
        <tbody infinite-scroll="ClientsCtrl.loadMore()" infinite-scroll-distance="3">
        <tr ng-repeat="client in ClientsCtrl.clients | filter: ClientsCtrl.search | limitTo: ClientsCtrl.limitTo | orderBy: 'name'" ng-click="ClientModals.edit(client)" class="pointer">
          <td>{{ client.fullName }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.phone }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <portlet-progress ms-type="bar" ms-active="ClientsCtrl.isLoading"></portlet-progress>
  </div>
  <!-- END PLACE PAGE CONTENT HERE -->
</div>
<!-- END CONTAINER FLUID -->
